-f https://storage.googleapis.com/jax-releases/libtpu_releases.html
jax[tpu]==0.3.4
flax==0.4.0
optax==0.1.1
distrax==0.1.1
tqdm
cloudpickle==2.0.0
dill
ml_collections
wandb==0.12.7
scikit-image==0.19.2
gcsfs==2022.02.0
